{% extends "base.html" %}

	{% block title %}
		Car List
	{% endblock title %}

	{% block content %}
	<div class="row">
		{% for car in cars %}
			<div class="col-lg-4 text-center">
				<div class="card">
					{% if car.car_img %}
						<img src="{{car.car_img.url}}" class="card-img-top" alt="...">
					{% endif %}
					<div class="card-body">
							<h5 class="card-title">{{car.make}} - {{car.model}}</h5>
	    					<p class="card-text">{{car.year}}</p>
	    					<a href="{{car.get_absolute_url}}" class="btn btn-outline-secondary">Details</a>
					</div>
				</div>
				<hr>
			</div>
		{% endfor %}

	</div>
	{% endblock content %}


